@model VMCategory

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Body
{

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1> Category Section </h1>
            </div>
        </div>

    </div>
}
@section Body2{

    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <input type="submit" value="New Category" data-target="#testmodal" data-toggle="modal" class="btn btn-primary" />
            </div>

            <div class="row" style="margin-top:50px">
                <div class="col-lg-12">

                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th>Category Code</th>
                                <th>Category Name</th>
                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Category item in Model.licategory)
                            {
                             
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Code</td>
                                    <td>@item.Name</td>
                                    <td>
                                        <a class="text-primary"> Edit  </a>|
                                        <a class="text-primary" asp-action="DeleteData" asp-route-id=@item.ID> Delete </a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <form method="post">
        <div class="modal fade" id="testmodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> Category </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <span> Category Code</span>
                            <input type="text" class="form-control" placeholder="Category Code" asp-for="category.Code" />
                        </div>
                        <div>
                            <span> Category Name</span>
                            <input type="text" class="form-control" placeholder="Category Name" asp-for="category.Name" />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" value="Save" class="btn btn-primary" asp-action="SaveData" />
                        <input type="button" value="Close" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>

}
